.idea/dictionaries/jharris.xml
.idea/aws-cft.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
AWS-Ref-Architecture/East-West-VPC-Attachments/cft/Transit-Gateway-Direct-Attach-Demo-v2.1.yaml
/AWS-Ref-Architecture/East-West-VPN-Attachments/cft/RA-Transit-Gateway-east-west-vpn-v2.yaml
.DS_Store
.idea/inspectionProfiles/
AWS-Ref-Architecture/.DS_Store
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.DS_Store
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/$CACHE_FILE$
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/.gitignore
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/East-West-VPC-Attachments.iml
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/dictionaries
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/inspectionProfiles/
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/misc.xml
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/modules.xml
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/vagrant.xml
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/.idea/vcs.xml
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/bootstrap/index.txt
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/documentation/AWS_TGW_Direct_Attach_deployment_guide-v2.pdf
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/documentation/Lambda documentation/
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/documentation/images/TGW-Direct-Attach.png
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/documentation/images/TransitGateway.png
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/documentation/images/index.txt
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/lambda-source/.DS_Store
AWS-Ref-Architecture/Dedicated-Firewalls-VPC-Attached/lambda/.DS_Store
AWS-Ref-Architecture/East-West-VPC-Attachments/.DS_Store
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/$CACHE_FILE$
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/.gitignore
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/East-West-VPC-Attachments.iml
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/dictionaries
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/inspectionProfiles/
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/misc.xml
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/modules.xml
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/vagrant.xml
AWS-Ref-Architecture/East-West-VPC-Attachments/.idea/vcs.xml
AWS-Ref-Architecture/East-West-VPC-Attachments/lambda/.DS_Store
AWS-Ref-Architecture/East-West-VPC-Attachments/lambda/lambda-combined/
AWS-Ref-Architecture/East-West-VPN-Attachments/.DS_Store
AWS-Ref-Architecture/East-West-VPN-Attachments/bootstrap/.DS_Store
AWS-Ref-Architecture/East-West-VPN-Attachments/bootstrap/bootstrap-v9.1.xml
AWS-Ref-Architecture/East-West-VPN-Attachments/cft/test.yaml
AWS-Ref-Architecture/East-West-VPN-Attachments/lambda-src/.DS_Store
AWS-Ref-Architecture/East-West-VPN-Attachments/lambda-src/step-function/.DS_Store
AWS-Ref-Architecture/East-West-VPN-Attachments/lambda/layer.zip
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/.DS_Store
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/bootstrap/.DS_Store
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/cft/Transit-Gateway-Autoscale-Demo-v4.yaml
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/cft/Transit_Gateway_Outbound_Autoscale_v3.yaml
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/.DS_Store
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/autoscaleTaskHandler.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/lambda-combined-v3/
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/.DS_Store
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/add_eni.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/asglib/
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/aws_vpn_cleanup.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/config_aws_vpn.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/config_fw-old.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/config_fw.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/config_panw_vpn.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/config_panw_vpn.zip
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/delete_aws_vpn.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/delete_fw_vpn.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/remove_eni.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/step_function.json
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/transitTaskHandlerLambda.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda-src/step-function/update_routes.py
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda/.DS_Store
AWS-Ref-Architecture/Oubound-Autoscale-VPN-Attachments/lambda/step_v3.zip
Direct-Attach-FW-Existing-TGW/lambda/sec-only-lambda-combined-old.zip
Direct-Attach-FW-Existing-TGW/lambda/sec-only-lambda-combined/
tgw_inbound_asg/.DS_Store
tgw_inbound_asg/.idea/$CACHE_FILE$
tgw_inbound_asg/.idea/.gitignore
tgw_inbound_asg/.idea/dictionaries
tgw_inbound_asg/.idea/inspectionProfiles/
tgw_inbound_asg/.idea/misc.xml
tgw_inbound_asg/.idea/modules.xml
tgw_inbound_asg/.idea/tgw_inbound_asg.iml
tgw_inbound_asg/.idea/vagrant.xml
tgw_inbound_asg/.idea/vcs.xml
tgw_inbound_asg/bootstrap_files/.DS_Store
tgw_inbound_asg/bootstrap_files/FW_BOOTSTRAP/
tgw_inbound_asg_v21/.DS_Store
tgw_inbound_asg_v21/apps/.DS_Store
tgw_inbound_asg_v21/apps/ilb/
tgw_inbound_asg_v21/firewall/.DS_Store
tgw_inbound_asg_v21/firewall/firewall-new-vpc-v2.1-with-tgw-backup.yaml
tgw_inbound_asg_v21/firewall/panorama_sample_config/.DS_Store
tgw_inbound_asg_v21/firewall/panorama_sample_config/template/
tgw_inbound_asg_v21/firewall/panw-aws-old.zip
tgw_inbound_asg_v21/firewall/panw-aws/
!/AWS-Ref-Architecture/East-West-VPN-Attachments/cft/RA-Transit-Gateway-east-west-vpn-v2.json
