.idea/dictionaries/jharris.xml
.idea/aws-cft.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
AWS-Ref-Architecture/East-West-VPC-Attachments/cft/Transit-Gateway-Direct-Attach-Demo-v2.1.yaml
